@page "/TiposTecnicos/RegistroTipos"
@rendermode InteractiveServer
@inject TiposTecnicosServices TTS
@inject NavigationManager navigation
<link rel="stylesheet" href="index.css" />

<PageTitle>Registro de tipos de t&eacute;cnicos</PageTitle>
@*Header*@
<h2>Registro de tipo de t&eacute;cnicos</h2>
<div class="col-md-6">
    <label class="form-label"><strong>b&uacute;squeda por id:</strong></label>
    <div class="input-group">
        <input type="number" id="valorFiltro" @bind="Id" class="form-control" placeholder="Buscar por id" />
        <button @onclick="Buscar" class="btn btn-success bi bi-search" type="button"> Buscar</button>
    </div>
</div>

@*Body*@
<div class="card-body">
    <table class="table table-light">
        <thead class="table table-striped text-center table-bordered mt-3 ">
            <tr>
                <th>Tipos t&eacute;cnicos Id</th>
                <th>Descripci&oacute;n</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TipoTecnico in TipoTecnicos)
            {
                <tr>
                    <td class="text-center">@TipoTecnico.TipoDeTecnicosId</td>
                    <td class="text-center">@TipoTecnico.Descripcion</td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/RegistroTipos/details/@TipoTecnico.TipoDeTecnicosId" class=" bi bi-eye"></a>
                    </td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/RegistroTipos/Modificar/@TipoTecnico.TipoDeTecnicosId" class=" bi bi-pencil-square"></a>
                    </td>
                    <td class="text-center">
                        <a href="/TiposTecnicos/RegistroTipos/Eliminar/@TipoTecnico.TipoDeTecnicosId" class=" bi bi-trash"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="crear-nuevo">
        <button type="submit" @onclick="goToCreat" class="btn btn-success bi bi-floppy"> Crear nuevo </button>
    </div>
</div>

@code {
    public List<TiposTecnicos> TipoTecnicos = new List<TiposTecnicos>();
    int Id { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        TipoTecnicos = await TTS.Listar(a => true);
    }

    public void goToCreat()
    {
        navigation.NavigateTo("/TiposTecnicos/RegistroTipos/Creat");
    }
    public async void Buscar()
    {
        if (Id <= 0 || !await TTS.ExisteId(Id))
        {
            return;
        }
        navigation.NavigateTo($"/TiposTecnicos/RegistroTipos/details/{Id}");
    }
}
