<link />
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de técnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/index">
                <span class=" bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registro de técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TiposTecnicos/RegistroTipos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipos de técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RegistroClientes/index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registro de Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RegistroTrabajos/index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registro de Trabajos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RegistroPrioridad/Index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registro de Proridades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Cotizaciones/Index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registro de Cotizacion
            </NavLink>
        </div>
    </nav>
</div>

