@page "/index/creat"
@rendermode InteractiveServer 
@inject TecnicosServices TS
@inject NavigationManager navigation

<PageTitle>Crear Técnicos</PageTitle>
<h2>Crear nuevos Tecnicos</h2>

<EditForm Model="@Tecnicos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor_Agregar">
        <div class="Contenedor_Secundario">
            <h3>Nuevo técnico</h3>

            <div class="inputs-agregar">
                <label>Nombres:</label>
                <InputText @bind-Value="Tecnicos.Nombres" />
                <ValidationMessage For="@(() => Tecnicos.Nombres)" />
            </div>
            <div class="inputs-agregar">
                <label>Sueldo hora:</label>
                <InputNumber @bind-Value="Tecnicos.SueldoHora" />
                <ValidationMessage For="@(() => Tecnicos.SueldoHora)" />
            </div>

            @if (!string.IsNullOrEmpty(Mensaje))
            {
                <div class="alert alert-danger">
                    @Mensaje
                </div>
            }

            <div class="Botones_agregar">
                <button type="button" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square "> Volver</button>
                <button type="submit" class="btn btn-success bi bi-floppy"> Guardar</button>
            </div>
        </div>

    </div>

</EditForm>

@code {
    public Tecnicos Tecnicos { get; set; } = new Tecnicos();
    string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {
        Mensaje = string.Empty; 
        if (string.IsNullOrWhiteSpace(Tecnicos.Nombres) || Tecnicos.SueldoHora < 0 )
        {
            Mensaje = "Por favor, complete todos los campos correctamente.";
            return;
        }

        var nombreExiste = await TS.ExisteNombre(Tecnicos.Nombres);
        if (nombreExiste)
        {
            Mensaje = "Ya existe un técnico con el mismo Nombres.";
            return;
        }

        await TS.Guardar(Tecnicos);
        navigation.NavigateTo("/index");
    }
	public void Volver()
	{
		navigation.NavigateTo("/index");
    }
}
