@page "/index/eliminar/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicosServices TS
@inject NavigationManager navigation
<link href="eliminar.css" rel="stylesheet" />

<PageTitle>Eliminar t&eacute;cnicos</PageTitle>

<h2>Eliminar t&eacute;cnicos</h2>

@*Body*@
<div class="Contenedor-eliminar">

	<div class="list-eliminar">

	<ul>
		<li><strong>T&eacute;cnico Id:</strong> @Tecnico.TecnicoId</li>
		<li><strong>Nombre del t&eacute;cnico:</strong> @Tecnico.Nombres</li>
		<li><strong>Descripci&oacute;n del t&eacute;cnico:</strong> @Tecnico.TipoTecnico.Descripcion</li>
		<li><strong>Sueldo por hora:</strong> @Tecnico.SueldoHora</li>
	</ul>
    </div>

	<div class="alert alert-danger">
		<label>¿Seguro que desea eliminar a este t&eacute;cnico?</label>
	</div>

	<div class="botones">
		<button type="submit" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square"> Volver</button>
		<button type="submit" @onclick="eliminar" class="bi bi-trash"> Eliminar t&eacute;cnico</button>
	</div>

	
</div>
@code {
	[Parameter]
	public int TecnicoId { get; set; }
	Tecnicos Tecnico = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		Tecnico = await TS.Buscar(TecnicoId);
	}

	public async Task eliminar()
	{

		await TS.Eliminar(Tecnico.TecnicoId);
		navigation.NavigateTo("/index");

	}
	public void Volver()
	{
		navigation.NavigateTo("/index");
	}
}
