@page "/index/details/{TecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicosServices TS
@inject NavigationManager navigation
<link rel="stylesheet" href="details.css" />

<PageTitle>Detalles del t&eacute;cnico</PageTitle>

@*Header*@
<h2>Details</h2>
@*Body*@
<div class="Contenedor_detalles">
	<h3>Detalles del t&eacute;cnico</h3>
	<div class="list-details">
		<ul>
			<li><strong>T&eacute;cnico Id:</strong> @Tecnico.TecnicoId</li>
			<li><strong>Nombre del t&eacute;cnico:</strong> @Tecnico.Nombres</li>
			<li><strong>Descripci&oacute;n del t&eacute;cnico:</strong> @Tecnico.TipoTecnico?.Descripcion</li>
			<li><strong>Sueldo por hora:</strong> @Tecnico.SueldoHora</li>
		</ul>
	</div>

	<div class="btn-details">
		<button type="submit" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square"> Volver</button>
	</div>
</div>

@code {
	[Parameter]
	public int TecnicoId { get; set; }
	Tecnicos Tecnico { get; set; } = new Tecnicos();
	protected override async Task OnInitializedAsync()
	{
		Tecnico = await TS.Buscar(TecnicoId);
	}

	public void Volver()
	{
		navigation.NavigateTo("/index");
	}
}
