@page "/index/details/{TecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicosServices TS
@inject NavigationManager navigation
<link rel="stylesheet" href="details.css" />

<PageTitle>Detalles del técnico</PageTitle>

@*Header*@
<h2>Details</h2>
@*Body*@
<div class="Contenedor_detalles">
	<h3>Detalles del técnico</h3>
	<div class="list-details">
		<ul>
			<li><strong>técnico ld:</strong> @tecnicos.TecnicoId</li>
			<li><strong>Nombre del técnico:</strong> @tecnicos.Nombres</li>
			<li><strong>Sueldo por hora:</strong> @tecnicos.SueldoHora</li>
		</ul>
	</div>

	<div class="btn-details">
		<button type="submit" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square"> Volver</button>
	</div>
</div>

@code {
	[Parameter]
	public int TecnicoId { get; set; }
	Tecnicos tecnicos { get; set; } = new Tecnicos();
	protected override async Task OnInitializedAsync()
	{
		tecnicos = await TS.Buscar(TecnicoId);
	}

	public void Volver()
	{
		navigation.NavigateTo("/index");
	}
}
