@page "/index/creat"
@rendermode InteractiveServer 
@inject TecnicosServices TS
@inject NavigationManager navigation

<EditForm Model="@tecnicos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor_Agregar">
        <div class="Contenedor_Secundario">
            <h3>Nuevo técnico</h3>

            <div class="inputs-agregar">
                <label>Nombres:</label>
                <InputText @bind-Value="tecnicos.nombre" />
                <ValidationMessage For="@(() => tecnicos.nombre)" />
            </div>
            <div class="inputs-agregar">
                <label>Sueldo hora:</label>
                <InputNumber @bind-Value="tecnicos.sueldoHora" />
                <ValidationMessage For="@(() => tecnicos.sueldoHora)" />
            </div>
            <!-- Mostrar Mensaje de Error -->
            @if (!string.IsNullOrEmpty(Mensaje))
            {
                <div class="alert alert-danger">
                    @Mensaje
                </div>
            }

            <div class="Botones_agregar">
                <button type="button" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square "> Volver</button>
                <button type="submit" class="btn btn-success bi bi-floppy"> Guardar</button>
            </div>
        </div>

    </div>

</EditForm>

@code {
	public Tecnicos tecnicos { get; set; } = new Tecnicos();
	string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {
        Mensaje = string.Empty; 
        if (string.IsNullOrWhiteSpace(tecnicos.nombre) || tecnicos.sueldoHora < 0)
        {
            Mensaje = "Por favor, complete todos los campos correctamente.";
            return;
        }

        var existeTecnico = await TS.ExisteNombre(tecnicos.nombre);
        if (existeTecnico)
        {
            Mensaje = "Ya existe un técnico con el mismo nombre.";
            return;
        }

        await TS.Guardar(tecnicos);
        navigation.NavigateTo("/index");
    }
	public void Volver()
	{
		navigation.NavigateTo("/index");
	}

}
