@page "/index/creat"
@rendermode InteractiveServer 
@inject TecnicosServices TS
@inject NavigationManager navigation

<h2>Crear tecnico</h2> 

@*body*@

<div class="Contenedor_Agregar">
	<h3>Nuevo tecnico</h3>

	<div class="inputs_agregar">
		<label>Nombre:</label>
		<input type="text" placeholder="Nombre" @bind-value="tecnicos.nombre"/>
	</div>

	<div class="inputs_agregar">
		<label>Apellido:</label>
		<input type="text" placeholder="Apellido" @bind-value="tecnicos.Apellido"/>
	</div>

	<div class="inputs_agregar">
		<label>Sueldo hora:</label>
		<input type="number" placeholder="Sueldo hora" @bind-value="tecnicos.sueldoHora"/>
	</div>
	<div class="Botones_agregar">
		<button type="submit" @onclick="Volver">Volver</button>
		<button type="submit" @onclick="Guardar">Guardar</button>
	</div>

</div>
@Mensaje

@code {
	public Tecnicos tecnicos { get; set; } = new Tecnicos();
	string Mensaje { get; set; } = string.Empty;

	public async Task Guardar()
	{
		await TS.Guardar(tecnicos);

	}
	public void Volver()
	{
		navigation.NavigateTo("/index");
	}

}
